.dialogItem {
    margin: 4px 0px;
    padding: px;
    border: 2px solid brown;
    border-radius: 10px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.dialog {
    padding-left: 5px;
    font-size: 16px;
    display: inline-block;
    color: brown;
    text-decoration: none;
}

.dialogActive {
    color: gold;
}

.img {
    height: 40px;
    border-radius: 50%;
}